@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
  font-family: "Poppins", sans-serif;
}





/* Override the Ant Design Input background color */
/* .ant-input {
  background-color: rgb(242, 242, 242) !important; 
}

.ant-input:hover {
  background-color: rgb(242, 242, 242) !important; 
}

.ant-input:focus {
  background-color: rgb(242, 242, 242) !important;
}
.ant-input-password {
  background-color: rgb(242, 242, 242) !important; 
}

.ant-input-password:hover {
  background-color: rgb(242, 242, 242) !important; 
}

.ant-input-password:focus {
  background-color: rgb(242, 242, 242) !important; 
}
.ant-select-selector {
  background-color: rgb(242, 242, 242) !important;
  border-color: rgba(0,0,0,0) !important; 
}


.ant-select-selector:hover {
  background-color: rgb(242, 242, 242) !important; 
}


.ant-select-selector:focus {
  background-color: rgb(242, 242, 242) !important;
} */
.react-tel-input .form-control {
  width: 100% !important;

  border: 1px solid #839f9f !important;
}
.country-name{
  color: black;
}
 .noText .ant-upload-list-text {
  width:150px  !important;
  text-align: start;

}
.ant-table-filter-trigger{
  color: #fff  !important;
}
th{
  border-bottom: 1px solid #000000 !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: #FE4101 !important;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #FE4101, #FE4101);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e8ebec;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #FE4101;
}

::selection {
  color: #ffffff;
  background: #FE4101;
}

